# Windows ignores
Thumbs.db

# VS ignores
*.user
*.opensdf
*.sdf
*.suo
*.ncb
*.sln.docstates
*.bak
*.cache
*.vsp
*.vsmdi
/ipch
[Tt]est[Rr]esult*
[Bb]in*/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/

# NuGet ignores
packages/*
!packages/repositories.config